@import "./vars";
.wrapper {
  &:before, &:after {
    content: " ";
    display: table;
  }
  .content-wrapper {
    min-height: 100%;
    z-index: 800;
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
    .content-header {
      position: relative;
      padding: 15px 15px 0 15px;
      .breadcrumb-inner {
        float: right;
        height: 20px;
        line-height: 20px;
      }
    }
    .content {
      min-height: 250px;
      padding: 15px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
  display: block;
  .logo {
    background-color: $dark-color-primary;
    color: #fff;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
              // text-align: center;
              width: 230px;
              padding: 0 15px 0 20px;
              overflow: hidden;
            }
            .navbar {
              background-color: $color-primary;
              -webkit-transition: margin-left .3s ease-in-out;
              -o-transition: margin-left .3s ease-in-out;
              transition: margin-left .3s ease-in-out;
              margin-bottom: 0;
              margin-left: 230px;
              border: none;
              min-height: 50px;
              border-radius: 0;
              position: relative;
              &:before {
                display: table;
                content: " ";
              }
              .sidebar-toggle {
                color: #fff;
                float: left;
                background-color: transparent;
                background-image: none;
                padding: 15px;
                font-family: fontAwesome;
                &:before {
                  content: '\f0c9';
                }
              }
            }
            .navbar-custom-menu {
              float: right;
              .navbar-nav {
                float: right;
                list-style: none;
                margin: 0;
                li {
                  position: static;
                  float: left;
                  display: block;
                }
                a {
                  padding : 15px;
                  line-height: 20px;
                  position: relative;
                  display: block;
                  color: #fff;
                }
                .user-image {
                  float: left;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  margin-right: 10px;
                  margin-top: -2px;
                  max-width: none;
                }
              }
            }
          }
          .main-sidebar {
            background-color: $dark;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 50px;
            min-height: 100%;
            width: 230px;
            z-index: 810;
            -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
            -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
            -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
            transition: transform .3s ease-in-out,width .3s ease-in-out;
            .sidebar {
              padding-bottom: 10px;
              height: auto;
              .user-panel {
                white-space: nowrap;
                overflow: hidden;
                position: relative;
                padding: 10px;
                width: 100%;
                color: #fff;
                .info {
                  padding: 5px 5px 5px 15px;
                  line-height: 1;
                  position: absolute;
                  left: 55px;
                  p {
                    margin: 0 0 5px;
                  }
                }
                a{
                  color: #fff;
                  text-decoration: none;
                  padding-right: 5px;
                  margin-top: 3px;
                  font-size: 11px;
                }
                img {
                  width: 100%;
                  max-width: 45px;
                  height: auto;
                }
                &:after {
                  clear: both;
                  },
                  &:before, &:after {
                    content: " ";
                    display: table;
                  }
                }
                .weather {
                  color: #ddd;
                  text-align: center;
                  overflow: hidden;
                  background-color: #43576f;
                  padding: 8px 0;
                  font-size: 14px;
                }
              }
            }
// collapsed
.sidebar-collapsed {
  flex: 0 0 50px;
  width: 50px;
  .item{
    position: relative;
  }
  .submenu{
    position:absolute;
    top:0px;
    left:49px;
    z-index:99999;
    height:auto;
    display:none;
  }
}
.collapsed {
  .wrapper {
    .main-header {
      .logo {
        width: 50px;
        padding: 0 15px;
        text-align: center;
      }
      .navbar {
        margin-left: 50px;
      }
    }
    .main-sidebar {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      width: 50px !important;
      z-index: 850;
      .weather {
        display: none;
      }
    }
    .content-wrapper {
      margin-left: 50px !important;
      z-index: 840;
      min-height: 100%;
    }
  }
}
// widget
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  &:hover .icon {
    font-size: 100px;
  }
  h3 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 10px;
    white-space: nowrap;
    padding: 0;
    z-index: 5;
  }
  p {
    font-size: 15px;
  }
  .inner {
    padding: 10px;
  }
  .icon {
    transition: all .2s linear;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 0;
    font-size: 88px;
    color: rgba(0,0,0,.15);
  }
}