@import './vars';
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

html,
body {
  height: 100%;
  font-size: 14px;
}
body {
  font-family: $font-family;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 

  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #3c8dbc;
}
p {
  margin: 0 0 10px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 10px;
}
fieldset {
    background: #fff;
    border: 1px solid #e6e8e8;
    border-radius: 5px;
    margin: 20px 0;
    padding: 25px;
    position: relative;
    legend {
        background: inherit;
        font-family: Lato,sans-serif;
        color: #3c8dbc;
        font-size: 15px;
        left: 10px;
        padding: 0 10px;
        position: absolute;
        top: -12px;
        font-weight: 400;
        width: auto!important;
        border: none!important;
    }
}
fieldset {
    min-width: 0;
}
button[disabled], html input[disabled] {
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.list-group-unbordered>.list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.text-blue {
  color: #0073b7!important;
}
.fa-pull-right, .pull-right {
  float: right;
}
// LABEL
.label {
  padding: .2em .6em .3em;
  font-size: 85%;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-align: center;
  display: inline-block;
  margin: 3px;
}
img {
  border: 0;
}
.move {
  cursor: move;
}
.img-circle {
  border-radius: 50%;
}
.img-responsive {
  display: block;
  height: auto;
}
.img-responsive, .img-thumbnail, .table, label {
  max-width: 100%;
}
.text-muted {
  color: #777;
}
.text-center {
  text-align: center;
}

.bg-primary, .bg-blue {
  background-color: $color-primary;
  color: #fff;
}
.bg-success, .bg-green {
  background-color: $color-success;
  color: #fff;
}
.bg-info, .bg-aqua {
  background-color: $color-info;
  color: #fff;
}
.bg-warning, .bg-yellow, .bg-orange {
  background-color: $color-warning;
  color: #fff;
}
.bg-danger, .bg-red {
  background-color: $color-danger;
  color: #fff;
}
// box
.box-primary {
  border-top-color: $color-primary !important;
}
.box-success {
  border-top-color: $color-success !important;
}
.box-warning {
  border-top-color: $color-warning !important;
}
.box-info {
  border-top-color: $color-info !important;
}
.box-danger {
  border-top-color: $color-danger !important;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #fff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  font-size: 14px;
  box-shadow: 0 2px 1px rgba(35, 34, 34, 0.2);
  .box-heading {
    min-height: 50px;
    padding: 15px;
    position: relative;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #ddd;
  }
  .box-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
  }
}
// panel
.panel {
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  color: #555;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  .panel-heading {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    min-height: 50px;
    position: relative;
    padding: 15px;
  }
  .panel-body {
    padding: 15px;
  }
}
// button
.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
}
.btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff;
}
.btn {
    border-radius: 3px;
}
.btn {
  box-shadow: none;
  border: 1px solid transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    user-select: none;
}
.toolbar {
  margin-top: 25px;
}
.text-danger {
    color: #a94442;
}
.center {
    text-align: center;
}
.vcenter {
    min-height: 100%;
    min-height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.overlay {
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(http://static.stario.net/images/stariobg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-color: #4c5766;
  z-index: 9;
  overflow: hidden;
}
.overlay {
  display: flex;
}
.overlay_mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 5, 8, 0.7); 
}
.overlay_content {
  position: relative;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 22;
  flex: 1;
}
.login{
    background-color: #fff;
  }
    .login-tab {
      .el-col {
        background-color: #ddd;
        text-align: center;
        color: #000;
        cursor: pointer;
        height:50px;
        line-height: 50px;
        font-size: 14px;
        a {
          color: #000;
        }
      }
      .active{
        background-color: #3c8dbc;
        color: white;
        a {
          color: #fff;
        }
      }
    
    margin-bottom:20px;
  }
  footer{    
        line-height: 30px;
    img{
        width:30px;
        height:30px;
    }
  }
  button:focus {outline:0;}
  .btn-block {
    display: block;
    width: 100%;
}
  .star-check input[type="checkbox"]{
        height: 23px;
        width: 23px;
        vertical-align: middle;
        margin: 0;
        padding: 0;
  }
  .star-check label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
  }